<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some Error Occured</h1>
    <p>We are working on it !! Sorry ! for Inconvinience</p>

<%- include('includes/end.ejs') %>